.player-icon {
  font-size: 5em;
  text-align: center;
}

.player-section{
  margin-bottom:20px;
}

.space {
  float:left;
    width: 30%;
    padding-bottom: 26.55%;
    margin:1.66%;
    background-color: #222;
}

@media only screen and (max-width: 768px) {
  .player-section{
    margin-bottom: 0px;
    margin-top: 10px;
  }
}